@model int

<div class="container">
	<div class="col-12 text-center">
		<img src="~/images/tick.png" width="55%"/>
		<h1 class="text-center text-primary">Order Placed successfully</h1>
		<h2>Your OrderID: @Model</h2><br/>
	</div>
</div>