@model Category


<div class="container">
	<form method="post">
		<div class="row pb-2">
			<h1>Edit Page</h1>
			<hr />
		</div>
		<div class="mb-3 row p-1">
			<label class="p-0">New Category Name</label>
			<input asp-for="Name" class="form-control border" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1">
			<label class="p-0">New Display Order</label>
			<input asp-for="DisplayOrder" class="form-control border" />
			<span asp-validation-for="DisplayOrder" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button class="form-control btn btn-primary" type="submit">Update</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Category" asp-action="Index" class="form-control btn btn-secondary">
					<i class="bi bi-box-arrow-left"></i> Back to Category List
				</a>
			</div>
		</div>
	</form>
</div>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}