@model Contact
<!-- we import the 'model Contact' so we can have 'input tag helpers' i.e to get the properties from the Contact Model, 
	 in the required html tag we use 'asp-for="Property_name" to get the property helper' hence making it easy
	 to have the name of a property--!>

<div class="container">
	<div class="row text-center">
		<h1>Contact Us</h1>
	</div>
	<form method="post">
		<div class="form-control text-primary">
			<label asp-for="EmailAddress"></label>
			<input asp-for="EmailAddress" class="form-control border-2"/>
			<span asp-validation-for="EmailAddress" class="text-danger"></span>
		</div>
		<div class="form-control text-primary">
			<label asp-for="UserQuery"></label>
			<input asp-for="UserQuery" class="form-control border-2"/>
			<span asp-validation-for="UserQuery" class="text-danger"></span>
		</div>
		<div class="row">
			<div class="col-6">
				<button type="submit" class="btn btn-primary form-control">Create</button>
			</div>
			<div class="col-6">
				<a asp-controller="Home" asp-action="Index" class="btn btn-secondary border form-control">
					<i class="bi bi-box-arrow-left"></i> Back to Home
				</a>
			</div>
		</div>
	</form>
</div>