@page
@model practiceRazor.Pages.categories.EditModel

<form method="post">
	<input asp-for="Category.Id" hidden />

	<label asp-for="Category.Name"></label>
	<input asp-for="Category.Name" />

	<label asp-for="Category.DisplayOrder" class="mt-2"></label>
	<input asp-for="Category.DisplayOrder" class="mb-2" />

	<button class="btn btn-primary" type="submit">Update</button>
	<a asp-page="/categories/Index" class="btn btn-secondary">Back</a>
</form>